.title
{
    color:yellow;
    background-color: hotpink;
    border-style: dotted;
    border-radius:1cm;
    border-color:blueviolet;

    margin: 0;
    position: absolute;
    top: 15%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.cartImg
{
    width:3cm;
    height:3cm;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 37%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.addButton
{
    margin: 0;
    position:absolute;
    top: 10%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.subButton
{
    margin: 0;
    position: absolute;
    top: 10%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.finaldetail
{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 80%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.tablePosition
{
    margin: 0;
    position: absolute;
    top: 50%;
    left:50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

