.heart2
{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 85%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ytshirt
{
  margin: 0;
  position: absolute;
  top: 25%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btshirt
{
  margin: 2;
  position: absolute;
  top: 64%;
  left: 10%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn1
{
  margin: 0;
  position: absolute;
  top: 44%;
  left: 10%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn2
{
  margin: 0;
  position: absolute;
  top: 84%;
  left: 10%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.add
{
  margin: 0;
  position: absolute;
  top: 95%;
  left: 10%;

  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

